In [1]:
# classic import
import pandas as pd
import numpy as np
from shapely.geometry import Point, LineString, Polygon
from shapely import wkt
import geopandas as gp
import matplotlib.pyplot as plt
import warnings
import sys
import matplotlib as mpl
warnings.simplefilter('ignore')

In [2]:
#abertura dos dados

concelhos = gp.read_file('dados/concelhos.shp', encoding='utf-8')
populacao = pd.read_excel('dados/PORDATA-INE-populacao-concelho-2018.xlsx')

museus = pd.read_excel('dados/pordata-museus-por-concelho.xlsx')
cinemas = pd.read_excel('dados/pordata-cinema-por-concelho.xlsx')
bibliotecas = pd.read_excel('dados/BibliotecasRNBP13Jul2020.xls')
esp_cult = pd.read_excel('dados/pordata-recintos-culturais-por-concelho.xlsx')

In [3]:
populacao

,Âmbito Geográfico,Anos,Total,0-14,15-64,65 ou mais
0,NUTS 2013,Portugal,10283822,1415731,6639342,2228750
1,NUTS I,Continente,9786312,1342531,6292023,2151759
2,NUTS II,Norte,3574394,462621,2388114,723660
3,NUTS III,Alto Minho,231566,26622,147055,57890
4,Município,Arcos de Valdevez,21057,2076,12121,6861
...,...,...,...,...,...,...
350,Município,São Vicente,5151,537,3285,1329
351,NUTS III,Ilha de Porto Santo,5175,697,3792,686
352,Município,Porto Santo,5175,697,3792,686
353,NaN,NaN,NaN,NaN,NaN,NaN
354,,,,,,

In [4]:
museus

    Âmbito Geográfico                 Anos  2013  2014  2015  2016  2017  2018
0           NUTS 2013             Portugal   353   392   388   405   430   431
1              NUTS I           Continente   318   356   358   375   395   397
2             NUTS II                Norte   102   109   111   115   120   117
3            NUTS III           Alto Minho     6     6     8    11    12    12
4           Município    Arcos de Valdevez     0     0     0     0     0     0
..                ...                  ...   ...   ...   ...   ...   ...   ...
348         Município           Santa Cruz     0     0     0     0     0     0
349         Município              Santana     1     1     1     0     1     1
350         Município          São Vicente     0     0     0     0     0     0
351          NUTS III  Ilha de Porto Santo     0     1     1     1     1     1
352         Município          Porto Santo     0     1     1     1     1     1

[353 rows x 8 columns]

In [5]:
cinemas

    Âmbito Geográfico                 Anos 2013 2014 2015 2016 2017 2018 2019
0           NUTS 2013             Portugal  544  545  547  557  571  587  583
1              NUTS I           Continente  527  527  527  536  549  565  560
2             NUTS II                Norte  152  152  153  167  168  174  174
3            NUTS III           Alto Minho    7    7    8    8    9    9    9
4           Município    Arcos de Valdevez    1    1    1    1    1    1    1
..                ...                  ...  ...  ...  ...  ...  ...  ...  ...
350         Município          São Vicente    0    0    0    0    0    0    0
351          NUTS III  Ilha de Porto Santo    0    0    0    0    0    0    0
352         Município          Porto Santo    0    0    0    0    0    0    0
353               NaN                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
354

[355 rows x 9 columns]

In [6]:
esp_cult

    Âmbito Geográfico                 Anos 2013 2015 2017 2019
0           NUTS 2013             Portugal  340  352  364  388
1              NUTS I           Continente  316  327  336  360
2             NUTS II                Norte   83   86   88   88
3            NUTS III           Alto Minho    3    3    4    6
4           Município    Arcos de Valdevez    1    1    1    1
..                ...                  ...  ...  ...  ...  ...
350         Município          São Vicente    0    0    0    0
351          NUTS III  Ilha de Porto Santo    1    1    1    1
352         Município          Porto Santo    1    1    1    1
353               NaN                  NaN  NaN  NaN  NaN  NaN
354

[355 rows x 6 columns]